In [1]:
import pandas as pd

from calendar import monthrange

In [2]:
train_df = pd.read_csv('./data/sales_train.csv')
print('Train rows:  {:,}'.format(len(train_df)))

Train rows:  2,935,849

In [3]:
test_df = pd.read_csv('./data/test.csv')
print('Test rows:  {:,}'.format(len(test_df)))

Test rows:  214,200

In [4]:
merged_df = test_df.merge(train_df[['shop_id', 'item_id']], on=['shop_id', 'item_id'], how='left', indicator=True)
merged_df.head(5)

   ID  shop_id  item_id _merge
0   0        5     5037   both
1   0        5     5037   both
2   0        5     5037   both
3   0        5     5037   both
4   0        5     5037   both

In [5]:
merged_df['_merge'].value_counts()

both          1224439
left_only      102796
right_only          0
Name: _merge, dtype: int64

In [6]:
merged_df[merged_df['_merge'] == 'left_only'].head(5)

     ID  shop_id  item_id     _merge
13    1        5     5320  left_only
24    4        5     5268  left_only
96    9        5     5003  left_only
342  16        5     4874  left_only
414  21        5     5002  left_only

In [7]:
subset_df = train_df[
    (train_df['shop_id'] == 5) & (train_df['item_id'] == 5320)
]

In [8]:
subset_df.head(5)

Empty DataFrame
Columns: [date, date_block_num, shop_id, item_id, item_price, item_cnt_day]
Index: []

In [9]:
merged_df['_merge'].value_counts()

both          1224439
left_only      102796
right_only          0
Name: _merge, dtype: int64

In [10]:
train_df.head(5)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [11]:
min(train_df[train_df['date_block_num'] == 0]['date'])

'01.01.2013'

In [12]:
train_df['date'] = pd.to_datetime(train_df['date'], format='%d.%m.%Y')

In [13]:
date_blocks = [i for i in range(min(train_df['date_block_num']), max(train_df['date_block_num'])+1)]
date_blocks

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33]

In [14]:
min_dates = [min(train_df[train_df['date_block_num'] == x]['date']) for x in date_blocks]
min_dates

[Timestamp('2013-01-01 00:00:00'),
 Timestamp('2013-02-01 00:00:00'),
 Timestamp('2013-03-01 00:00:00'),
 Timestamp('2013-04-01 00:00:00'),
 Timestamp('2013-05-01 00:00:00'),
 Timestamp('2013-06-01 00:00:00'),
 Timestamp('2013-07-01 00:00:00'),
 Timestamp('2013-08-01 00:00:00'),
 Timestamp('2013-09-01 00:00:00'),
 Timestamp('2013-10-01 00:00:00'),
 Timestamp('2013-11-01 00:00:00'),
 Timestamp('2013-12-01 00:00:00'),
 Timestamp('2014-01-01 00:00:00'),
 Timestamp('2014-02-01 00:00:00'),
 Timestamp('2014-03-01 00:00:00'),
 Timestamp('2014-04-01 00:00:00'),
 Timestamp('2014-05-01 00:00:00'),
 Timestamp('2014-06-01 00:00:00'),
 Timestamp('2014-07-01 00:00:00'),
 Timestamp('2014-08-01 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2014-10-01 00:00:00'),
 Timestamp('2014-11-01 00:00:00'),
 Timestamp('2014-12-01 00:00:00'),
 Timestamp('2015-01-01 00:00:00'),
 Timestamp('2015-02-01 00:00:00'),
 Timestamp('2015-03-01 00:00:00'),
 Timestamp('2015-04-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-06-01 00:00:00'),
 Timestamp('2015-07-01 00:00:00'),
 Timestamp('2015-08-01 00:00:00'),
 Timestamp('2015-09-01 00:00:00'),
 Timestamp('2015-10-01 00:00:00')]

In [15]:
frames = []

count = 0
for index,row in merged_df[merged_df['_merge'] == 'left_only'].iterrows():
    if count % 1000 == 0:
        print('Processing:   {:,}'.format(count))
        
    new_rows_df = pd.DataFrame([], columns=[])
    
    new_rows_df['date_block_num'] = date_blocks
    new_rows_df['date'] = min_dates
    new_rows_df['date (year)'] = new_rows_df['date'].dt.year
    new_rows_df['date (month)'] = new_rows_df['date'].dt.month
    new_rows_df['date (days in month)'] = new_rows_df['date'].apply(lambda x: monthrange(x.year, x.month)[1])

    new_rows_df['shop_id'] = row['shop_id']
    new_rows_df['item_id'] = row['item_id']
    new_rows_df['item_price'] = 0
    new_rows_df['item_cnt_day'] = 0
    
    frames.append(new_rows_df)
    
    count += 1
    
missing_df = pd.concat(frames)
missing_df.to_csv('./data/train_missing.csv', index=False)

Processing:   0
Processing:   1,000
Processing:   2,000
Processing:   3,000
Processing:   4,000
Processing:   5,000
Processing:   6,000
Processing:   7,000
Processing:   8,000
Processing:   9,000
Processing:   10,000
Processing:   11,000
Processing:   12,000
Processing:   13,000
Processing:   14,000
Processing:   15,000
Processing:   16,000
Processing:   17,000
Processing:   18,000
Processing:   19,000
Processing:   20,000
Processing:   21,000
Processing:   22,000
Processing:   23,000
Processing:   24,000
Processing:   25,000
Processing:   26,000
Processing:   27,000
Processing:   28,000
Processing:   29,000
Processing:   30,000
Processing:   31,000
Processing:   32,000
Processing:   33,000
Processing:   34,000
Processing:   35,000
Processing:   36,000
Processing:   37,000
Processing:   38,000
Processing:   39,000
Processing:   40,000
Processing:   41,000
Processing:   42,000
Processing:   43,000
Processing:   44,000
Processing:   45,000
Processing:   46,000
Processing:   47,000
Processing:   48,000
Processing:   49,000
Processing:   50,000
Processing:   51,000
Processing:   52,000
Processing:   53,000
Processing:   54,000
Processing:   55,000
Processing:   56,000
Processing:   57,000
Processing:   58,000
Processing:   59,000
Processing:   60,000
Processing:   61,000
Processing:   62,000
Processing:   63,000
Processing:   64,000
Processing:   65,000
Processing:   66,000
Processing:   67,000
Processing:   68,000
Processing:   69,000
Processing:   70,000
Processing:   71,000
Processing:   72,000
Processing:   73,000
Processing:   74,000
Processing:   75,000
Processing:   76,000
Processing:   77,000
Processing:   78,000
Processing:   79,000
Processing:   80,000
Processing:   81,000
Processing:   82,000
Processing:   83,000
Processing:   84,000
Processing:   85,000
Processing:   86,000
Processing:   87,000
Processing:   88,000
Processing:   89,000
Processing:   90,000
Processing:   91,000
Processing:   92,000
Processing:   93,000
Processing:   94,000
Processing:   95,000
Processing:   96,000
Processing:   97,000
Processing:   98,000
Processing:   99,000
Processing:   100,000
Processing:   101,000
Processing:   102,000

In [16]:
values = [i for i in range(min(train_df['date_block_num']), max(train_df['date_block_num'])+1)]
print(values)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]

In [17]:
values1 = [i for i in range(min(train_df['date_block_num']), max(train_df['date_block_num'])+1)]
print(values1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]

In [18]:
len(missing_df)

3495064

In [19]:
len(missing_df.drop_duplicates(['shop_id', 'item_id']))

102796

In [22]:
missing_df2 = missing_df[missing_df['date_block_num'].isin([32, 33])]
len(missing_df2)

205592

In [23]:
missing_df2.to_csv('./data/train_missing2.csv', index=False)

KeyboardInterrupt: